node_modules/
.env
dist/
build/
*.log
logs/
.DS_Store
coverage/
.vscode/
.idea/
data/files/originals/*
data/files/thumbnails/*
data/files/temp/*
!data/files/originals/.gitkeep
!data/files/thumbnails/.gitkeep
!data/files/temp/.gitkeep
